<div class="container">
  <div class="row">
    <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
      <h3 class="text-center text-theme-primary">
        {{ formStatus }} Categories
      </h3>
      <p class="text-center mb-5">
        You can {{ formStatus }} new categories here!
      </p>
      <form class="form-inline" [formGroup]="form" (ngSubmit)="addCategory()">
        <div class="col-md-10">
          <input
            type="text"
            class="form-control w-100"
            placeholder="Add New Categories"
            formControlName="category"
            [ngClass]="{ 'is-invalid': hasErrors('category') }"
          />
          <div *ngIf="hasErrors('category')" class="mt-1 alert alert-danger">
            {{ getErrors("category") }}
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-block btn-info" [disabled]="form.invalid">
            {{ formStatus }} Category
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-5 mb-5" *ngIf="categories$ | async as categories">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ category.data.category }}</td>
                <td>
                  <button
                    class="btn btn-sm btn-warning"
                    (click)="editCategory(category.id, category.data.category)"
                  >
                    Edit
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
